/*empieza el header*/
.header{
    background: #333;
    color:white;
    padding:0rem 0;
    position:fixed;
    left: 0;
    top:0;
    right:0;
    text-align:left;
    z-index:1;
}
.header a
{color:white;
text-decoration:none;
font-style: italic;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
    text-align:left;
}

.logo{ 
    width: 350px;
    height:200px;
}

.menu-icon{
    display:none;
}
.navegacion{text-align:left}
.navegacion li ul {
    display:none;
    position: absolute;;
    min-width:140px;
}

.navegacion > li {float:left;}
.navegacion li:hover > ul{display:block}
.navegacion li ul li {position:relative;}
.navegacion ul {
    margin:0;
    padding: 0;
    list-style: none;
}
.navegacion ul li {
    display: inline-block;
}
.navegacion ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}
.navegacion ul li a:hover {
    background: #4a4a4a;
}
/*Termina el header*/

body{
    font-family: "Lato";
    background:url("img/logolados.jpg") repeat-y top left,url("img/logolados.jpg") repeat-y top right;
    background-size: 80px;
    text-align:center
}
.slider {
    height:200px;
    width: 1100px;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 600%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
    
}

.slider li {
    width: 100%;
    list-style: none;

}

.slider img {
    width: 100%;
}

@keyframes cambio{
    0% {margin-left: 0; }
    20% {margin-left: 0; }

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    80% {margin-left: -300%;}

    85% {margin-left: -400%;}
    100% {margin-left: -400%;}
}

footer{
    background-color:#333;
    padding-top:30px;
    background-image: url(img/madera.jpg);position:fixed
   }
   footer ul{list-style:none;
}

img{float:left}